<plugin name='cmis' version='0.2' grailsVersion='2.1.1 &gt; *'>
  <author>Joost Horward</author>
  <authorEmail>joost@open-t.nl</authorEmail>
  <title>CMIS plugin</title>
  <description>\
Provides CMIS services and views based on Apache Chemistry OpenCMIS, Twitter Bootstrap and the Dialog plugin for Grails.
</description>
  <documentation>http://www.open-t.nl/catviz/p/projects/cmis-plugin</documentation>
  <type>CmisGrailsPlugin</type>
  <resources>
    <resource>BootStrap</resource>
    <resource>CmisResources</resource>
    <resource>spring.resources</resource>
    <resource>org.open_t.cmis.CmisAuthenticateController</resource>
    <resource>org.open_t.cmis.CmisBrowseController</resource>
    <resource>org.open_t.cmis.CmisDocumentController</resource>
    <resource>org.open_t.cmis.services.CmisInitializationService</resource>
    <resource>org.open_t.cmis.services.CmisService</resource>
    <resource>org.open_t.cmis.CmisTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins>
    <build>
      <plugin group='org.grails.plugins' name='tomcat' version='2.2.4' />
    </build>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>