<plugin name='cmis' version='0.1' grailsVersion='1.3.5 &gt; *'>
  <author>Your name</author>
  <title>Plugin summary/headline</title>
  <description>\
Brief description of the plugin.
</description>
  <documentation>http://grails.org/plugin/cmis</documentation>
  <type>CmisGrailsPlugin</type>
  <resources>
    <resource>BootStrap</resource>
    <resource>spring.resources</resource>
    <resource>org.open_t.cmis.CmisAuthenticateController</resource>
    <resource>org.open_t.cmis.CmisBrowseController</resource>
    <resource>org.open_t.cmis.CmisDocumentController</resource>
    <resource>org.open_t.cmis.services.CmisService</resource>
    <resource>org.open_t.cmis.services.RestService</resource>
    <resource>org.open_t.cmis.CmisTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>