/* Fix datatables pagination and length area */
.DataTables_sort_wrapper .ui-icon { float:right;}
.dataTables_filter { float: right;}
.dataTables_length { width:200px;float:left;}
#file-list {float:left;}
#file-list_info {float:left;}
#file-list_paginate {float:left;}

/* set column widths for table */
th.cmis-list-icon {width:18px;}
th.cmis-list-actions {width:235px;}

/* Show pointer cursor in first two rows of table */
.clickable-cell {cursor:pointer;}
.clickable-row {cursor:pointer;}

.mime-16 { background-image: url("theme/icons/mimetypes/16/document.png") }

.mime-16 {cursor:pointer;display:block;min-height:16px; padding:2px 0 2px 20px;background-repeat:no-repeat;display:block;}
.folder-16 { background-image: url("theme/icons/places/16/folder.png" ) ;}
li.folder-16 a ins { background-image: url("theme/icons/places/16/folder.png" ) !important; background-position: 0px 0px !important; }

#list-body { float:left;clear:both;}
            
.list-action {float:left;}


div.list-body {width:100%}
div.datatable {width:100%}

.action {min-height:16px; padding:2px 0 2px 20px;background-repeat:no-repeat;cursor:pointer;}

.action-edit {background-image:url("theme/icons/actions/16/details-16.png"); display:inline-block;}
.action-show {background-image:url("theme/icons/actions/16/view-in-browser-16.png"); display:inline-block;}
.action-props {background-image:url("theme/icons/actions/16/document-properties.png"); display:inline-block;}
.action-edit {background-image:url("theme/icons/actions/16/editcopy.png"); display:inline-block;}
.action-history {background-image:url("theme/icons/actions/16/document-history.png"); display:inline-block;}
.action-delete {background-image:url("theme/icons/actions/16/remove.png"); display:inline-block;}

.action-download {background-image:url("theme/icons/actions/16/document-save.png"); display:inline-block;}
.action-updatedocument {background-image:url("theme/icons/actions/16/extract-archive.png"); display:inline-block;}
.action-upload {background-image:url("theme/icons/actions/16/extract-archive.png"); display:inline-block;}

.action-checkout {background-image:url("theme/icons/actions/16/document-send.png"); display:inline-block;}
.action-checkin {background-image:url("theme/icons/actions/16/document-revert.png"); display:inline-block;}
.action-cancelcheckout {background-image:url("theme/icons/actions/16/gtk-undo-ltr.png"); display:inline-block;}
.action-newfolder {background-image:url("theme/icons/actions/16/folder-new.png"); display:inline-block;}
.action-newdocument {background-image:url("theme/icons/actions/16/document-new.png"); display:inline-block;}

.action-edit-online {background-image:url("theme/icons/actions/16/document-page-setup.png"); display:inline-block;}


.action-home {background-image:url("theme/icons/actions/16/gohome.png"); display:inline-block;}
.action-up {background-image:url("theme/icons/actions/16/go-up.png"); display:inline-block;}

.treediv {
	font-size: 11px;
}

span.spp-link {font-weight:bold;color:#666;}

/* fix jquery ui dialog padding */
.ajaxdialogform { margin-left:10px;}
div.dialog-message { font-size:14px;}